<h1>New car</h1>

<form action="/cars" method="post">
    <label>
        Name:
        <input name="name" required>
    </label>

    <label>
        color:
        <input name="color">
    </label>

    <label>
        Image:
        <input type="url" name="image">
    </label>

    <button>Create car</button>
</form>