<h1>New Make</h1>

<form action="/makes" method="post">
    <label>
        Name:
        <input name="name" required>
    </label>

    <label>
        Image:
        <input type="url" name="image">
    </label>

    <button>Create make</button>
</form>