<h2>Lets play Secret Number</h2>

<form action="/secret/result">
    <label>
        put a number:
       
        <input name="number" required autofocus>
    </label>

    <button>Result</button>
</form>