<h1>NEW CAR</h1>
<form action="/cars" method = "post">
    <label>
        Name:
        <input name="name">
    </label>

    <label>
        Model:
        <input name="model">
    </label>

    <label>
        Image:
        <input type ="url"  name="image">
    </label>

<button>Create Car</button>
</form>