<h1>
    Games
</h1>
<p>
   <a href ="/magic">
   Click here for Magic 8 Ball
   </a>
</p>

<p>
   <a href ="/secret">
   Click here for Secret Number
   </a>
</p>

<p>
   <a href ="/rock">
   Click here for Rock Paper Scissors
   </a>
</p>

